<mat-card>
    <img mat-card-image src="http://placeimg.com/333/500/arch/sepia" alt="">
    <mat-card-content>
        <mat-card-header>
            <mat-card-title [title]="livro?.nome">{{ livro?.nome }}</mat-card-title>
            <mat-card-subtitle>{{ livro?.categoria }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button>DETALHES</button>
            <button mat-button>JÁ LI</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
