mat-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    width: 400px;
}
mat-card-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 0;
}
mat-card-header mat-card-title {
    font-size: 1rem;
}

.mat-card-image, img {
    height: 128px;
    width: auto;
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: visible;
}

.mat-card-image:first-child {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

mat-card-actions {
    align-self: flex-end;
    bottom: 8px;
    margin-left: 0;
    margin-right: 0;
    padding: 0 8px 0 8px;
    position: absolute;
}
