.container {
    margin: 0;
    width: 72vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.container h2 {
    text-align: center;
}
