.mat-button {
    color: #9D0B0B;
    text-decoration: line-through;
    background-color: #FFEBEB;
}
.mat-button.selected {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #1B6600;
}
.mat-button mat-icon {
    margin-left: 8px;
    vertical-align: middle;
}

.mat-button.selected mat-icon {
    margin-left: 8px;
    vertical-align: text-bottom;

}
