mat-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-toolbar h3 {
    align-self: center;
    justify-self: flex-start;
    font-weight: bolder;

}
mat-toolbar a {
  color: black;
  text-decoration: none;
}
.toolbar__container {
    width: inherit;
    display: flex;
    justify-content: center;
}
