<mat-card>
  <mat-card-content>
    <mat-icon aria-hidden="false" aria-label="Usuário" fontIcon="account_circle"></mat-icon>
    <strong>{{ perfilUsuario.nome | titlecase }}</strong> (<small>{{ perfilUsuario.login }}</small>)
  </mat-card-content>
  <mat-card-content>
    <mat-icon aria-hidden="false" aria-label="Tipo de usuário" fontIcon="business_center"></mat-icon>
    {{ perfilUsuario.funcao }}
  </mat-card-content>
  <mat-card-content>
    <mat-icon aria-hidden="false" aria-label="Pontuação" fontIcon="workspace_premium"></mat-icon>
    {{ perfilUsuario.pontos }} pontos
  </mat-card-content>
</mat-card>
